# Core
streamlit
streamlit-lottie
sounddevice
vosk
PyPDF2
python-dotenv
requests

# NLP + Transformers
transformers
sentencepiece
torch==2.5.0
faiss-cpu
pypdf
sentence-transformers
google-generativeai

# LangChain ecosystem (matching versions)
langchain==0.2.14
langchain-community==0.2.14

# Data handling
dataclasses-json
